$card-width: 300px;
$card-height: 500px;

.list-item {
  width: $card-width;
  height: $card-height;
  display: flex;
  flex-direction: column;

  &-image {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    cursor: pointer;
    opacity: .75;
  }
}
